@import "node_modules/lbh-frontend/lbh/all";

#root {
  margin-top: 0;
}

.body {
  font-size: 0.7em;
}
.sv-timeline__card {
  border: 1px solid;
  padding: 1em;
}
.sv-timeline__card_title {
  display: flex;

  * {
    margin: 0;
  }
}
.sv-space-t {
  margin-top: 3em;
}
